/*------------------------------------*/
/* GLOBAL */
/*------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*/
/* MINI GRID */
/*------------------------------------*/
.container {
  width: 1140px;
}

.row {
  width: 1140px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

.col-1-12 {
  width: 8.33333%;
}

.col-2-12 {
  width: 16.66667%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.33333%;
}

.col-5-12 {
  width: 41.66667%;
}

.col-6-12 {
  width: 50%;
}

.col-7-12 {
  width: 58.33333%;
}

.col-8-12 {
  width: 66.66667%;
}

.col-9-12 {
  width: 75%;
}

.col-10-12 {
  width: 83.33333%;
}

.col-11-12 {
  width: 91.66667%;
}

.col-12-12 {
  width: 100%;
}

/*------------------------------------*/
/* LOGO */
/*------------------------------------*/
.container .main-logo {
  width: 100%;
  height: 150px;
}

.container .main-logo img {
  float: right;
  display: inline-block;
  margin-right: 70px;
}

/*------------------------------------*/
/* MENU */
/*------------------------------------*/
.container .main-nav {
  transition: 0.5s position;
}

.container .main-nav ul {
  border: 1px solid #DADADA;
}

.container .main-nav ul a {
  text-decoration: none;
  color: black;
}

.container .main-nav ul a li {
  display: inline-block;
  font-family: 'Agency FB', arial;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.7rem;
  padding: 10px;
  text-align: center;
}

.container .main-nav.nav-scroll {
  position: fixed;
  width: 1140px;
  top: 0;
  z-index: 1000;
  background: #fff;
}

[class*="col-2-12"] {
  text-align: center;
  border: 1px solid #DADADA;
}

[class*="col-2-12"]:hover {
  background-color: #DADADA;
}

/*------------------------------------*/
/* SLIDER */
/*------------------------------------*/
.section-slider {
  z-index: 1;
  width: 100%;
  height: 570px;
  background: #FCFCFC;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FCFCFC 37%, #F2F5F6 72%, #CECECE 98%, #CECECE 100%, #F2F5F6 100%, #CECECE 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#cecece', GradientType=0);
  /* IE6-9 */
  position: relative;
}

.section-slider .row,
.section-slider .container {
  height: 100%;
}

.section-slider .slider {
  width: 100%;
  position: relative;
  height: 100%;
}

.section-slider .left {
  width: 60px;
  color: #0AC2C2;
  font-weight: 100;
  font-size: 70px;
  position: absolute;
  left: 0;
  background: none;
  border: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s all;
  z-index: 101;
}

.section-slider .right {
  width: 60px;
  color: #0AC2C2;
  font-weight: 100;
  font-size: 70px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: none;
  border: 0;
  transition: 0.5s all;
  z-index: 100;
}

.section-slider .right:hover,
.section-slider .left:hover {
  color: #222;
}

.section-slider .right:focus,
.section-slider .left:focus {
  outline: none;
}

.section-slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section-slider .slide-image {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
}

.section-slider .slide img {
  position: relative;
  width: 100%;
  width: 100%;
}

.section-slider .button {
  margin-top: 35px;
}

/* stany slide */
.section-slider .slide img {
  opacity: 0;
  transition: 0.5s 0s ease-in-out all;
}

/* aktywny slide */
.section-slider .slide.active {
  z-index: 100;
}

.section-slider .slide.active img {
  top: 0;
  left: 0;
  opacity: 1;
}

.section-slider .slide.active .slide-cnt {
  opacity: 1;
  top: 0;
}

/*------------------------------------*/
/* ABOUT US */
/*------------------------------------*/
.about-us, .about-us-pic {
  height: 360px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.about-us .main-title {
  font-size: 3rem;
  color: red;
  font-family: 'Agency FB', arial;
  margin-bottom: 30px;
}

.about-us .main-text {
  font-size: 1.2rem;
  color: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.about-us-pic {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/*# sourceMappingURL=main.css.map */
