/*------------------------------------*/
/* Variables */
/*------------------------------------*/
$color: #FF8E1F;
$font1: 'Agency FB', arial;
$font: 'Roboto', sans-serif;
$main-font: 'Nunito Sans', sans-serif;

/*------------------------------------*/
/* GLOBAL */
/*------------------------------------*/
* {
    box-sizing: border-box;
}

.row {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 0%, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,245,245,1)), color-stop(0%, rgba(235,235,235,1)), color-stop(0%, rgba(227,227,227,1)), color-stop(100%, rgba(227,227,227,1)));
    background: -webkit-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 0%, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%);
    background: -o-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 0%, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 0%, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%);
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(235,235,235,1) 0%, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e3e3e3', GradientType=1 );
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



/*------------------------------------*/
/* MINI GRID */
/*------------------------------------*/

$column : 12;

.container {
    max-width: 1140px;
}

@mixin clearfix() {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.row-grid {
    max-width: 1140px;
    @include clearfix();
}
    [class*="col-"] {
        float:left;
    }

        @for $i from 1 through $column {
            .col-#{$i}-#{$column}{
                width: ((100 / $column) * $i) * 1%;
            }
        }


/*------------------------------------*/
/* HEADER */
/*------------------------------------*/
.header {
    width: 100%;
    height: 77px;
    background-color: #ffffff;
    position: fixed;
    z-index: 10001;
    box-shadow: 0 4px 2px -2px gray;
}
.container {
    .main-header {
        width: 100%;
        height: 77px;

        img {
            display: inline-block;
            line-height: 77px;
        }

        .main-nav li.active a {
            font-weight: bold;
        }

        .main-nav {
            float: right;
            text-align: right;
            padding-right: 6px;
            padding-left: 12px;
            word-spacing: 2px;
            font-size: 15px;
            line-height: 77px;

            ul {
                list-style: none;           
            }
            a {
                text-decoration: none;
                color: black;
                li {
                    display: inline-block;
                    font-family: "Nunito Sans", sans-serif;
                    font-weight: bold;
                    font-size: 1.1rem;
                    padding: 10px;

                    &:hover {
                        color: $color;
                    }
                }
            }
        }
    }
}


/*------------------------------------*/
/* SLIDER */
/*------------------------------------*/

.section-slider {
    z-index: 1;
    width: 100%;
    height: 570px;
    position: relative;
    margin-bottom: 25px;
}

.section-slider .row-grid,
.section-slider .container {
    height: 100%;
}

.section-slider .slider {
    width: 100%;
    position: relative;
    height: 100%;
}

.section-slider .left {
    width: 60px;
    color: #0AC2C2;
    font-weight: 100;
    font-size: 70px;
    position: absolute;
    left: 0;
    background: none;
    border: 0;
    top: 0;
    bottom: 0;
    transition: 0.5s all;
    z-index: 101;
}

.section-slider .right {
    width: 60px;
    color: #0AC2C2;
    font-weight: 100;
    font-size: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: 0;
    transition: 0.5s all;
    z-index: 100;
}

.section-slider .right:hover,
.section-slider .left:hover {
    color: #222;
}

.section-slider .right:focus,
.section-slider .left:focus {
    outline: none;
}

.section-slider .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.section-slider .slide-image {

    width: 100%;
    height: 100%;
    display: flex;
}

.section-slider .slide img {
    position: relative;
    width: 100%;
    width: 100%;
}

.section-slider .button {
    margin-top: 35px;
}

/* stany slide */
.section-slider .slide img {
    opacity: 0;
    transition: 0.5s 0s ease-in-out all;
}

/* aktywny slide */
.section-slider .slide.active {
    z-index: 100;
}
.section-slider .slide.active img {
    top: 0;
    left: 0;
    opacity: 1;
}

.section-slider .slide.active .slide-cnt {
    opacity: 1;
    top: 0;
}


/*------------------------------------*/
/* ABOUT US */
/*------------------------------------*/

.about-us, .about-us-pic, .Why_me {
    height: 350px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;
    font-family: $main-font;
}

.main_offer {
    height: auto;
}

.about-us {
    background-color: #fff;
    .main-title {
        font-size: 1.8rem;
        font-family: $main-font;
        padding-top: 30px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    
    .main-text {
        font-size: 1rem;
        flex-direction: column;
    }
    .pic {
        width: 472px;
        height: 310px;
        margin-left: 33px;
        margin-top: 15px;
    }
}

.about-us-pic {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    
    img {
        margin-top: 25px;
        max-width: 100%; 
    }
}

.Why_me {
    background-color: #fff;
    display: flex;
    justify-content: center;


    img {
        margin-top: 20px;
        max-width: 100%;
        height: 200px; 
        width: 250px; 
    }
}

/*------------------------------------*/
/* OFFER */
/*------------------------------------*/

.my_offer {
    display: none;
}

.parentBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    .myBtn {
        border: 0;
        padding: 10px;
        border-radius: 5px;
        background-color: $color;
        color: #fff;
        font-size: 1.3rem;
    }
}


/*------------------------------------*/
/* Gallery */
/*------------------------------------*/

.gallery {
    background: #fff;
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: $main-font;
    margin-top: 50px;

    .title {
        float: left;
        // justify-content: flex-end;
        .gallery_title {
            font-size: 1.8rem;
            font-family: $main-font;
            margin-top: 50px;
            margin-left: 30px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
    }
    .checkAll-btn {
        text-decoration: none;
        display: inline-block;
        border: 0;
        padding: 10px;
        border-radius: 5px;
        background-color: $color;
        color: #fff;
        font-size: 1.3rem;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 30px;
    
    .left-pic {
        float: right;
        margin-left: -77px;
    }
    
    .right-pic {
        float: left;
        margin-right: -50px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
    }
    .photos {
        background: #fff;
        margin:0px;
        margin-top: 30px;
        padding: 30px;
        width: 510px;
        border: 1px solid $color;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 460px;
        }
        figcaption {
            margin-top: 20px;
            text-decoration: none;
            font-family: $main-font;
        }
    }
    .right {
        height: 374px;
        .pic-right {
            height: 258px;
        }
    }
}

/*------------------------------------*/
/* CONTACT */
/*------------------------------------*/

.contact, .main-form {
    height: 600px;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
}

.form {
    margin-left: 10px;
}

.main-title {
    font-size: 1.8rem;
    font-family: $main-font;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact {
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    .contact-text {
        font-size: 1rem;
        line-height: 30px;
        font-family: $main-font;

        .icons {
            margin-top: 20px;

            .web {
                padding-left: 23px;
            }
        }

        h1, .name {
            margin-top: 10px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .name {
            margin-top: 5px;
        }

        a {
            text-decoration: none;
            margin-top: 20px;
            color: red;
        }
    }
}

.form {
    margin-top: 40px;
}

.form label {
    display: none;
    overflow: hidden;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #A1E6D1;
    height: 50px;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 1.2rem;

    &:focus {
        border-color: $color;
        box-shadow: inset 0 0 0 1px $color;
        outline: none;
    }
}

.form textarea {
    height: 160px;
    resize: none;
}

.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error ~ .state {
    border-color:#E01546;
}
.field-error {
    color:#E01546;
    padding:0.5rem 0;
    font-size:0.8rem;
}


.contact-us-form-btn {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background-color: #A1E6D1;
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}
.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}

.form .send-error {
    display:inline-block;
    font-family: sans-serif;
    font-size:0.9rem;
    padding:1rem 1.5rem;
    color:#E01546;
}
.form-send-success {
    font-family: sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    border:1px solid #eee;
    color:#333;
    padding:10rem 0;
    margin:3rem auto;
    max-width:40rem;

    strong {
        display:block;
        margin-bottom:0.5rem;
    }
    span {
        font-size:1rem;
        color:#888;
        font-weight:normal;
        display: block;
    }
}
/*------------------------------------*/
/* CURRENT GALLERY */
/*------------------------------------*/

.realize-gallery {
    background-color: #fff;
    margin-top: 77px;
    .gallery_title {
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Nunito Sans", sans-serif;
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 20px;   
    }

    .build {
        margin-left: 30px;
        margin-top: 50px;
    }
}

/*------------------------------------*/
/* CURRENT GALLERY */
/*------------------------------------*/
#gallery {
    background-color: #fff;
    margin-top: 77px;

    .title {
        font-family: $main-font;
        font-size: 1.5rem;
        padding: 20px;
        text-transform: uppercase;
    }
}
.curr-gallery {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
        margin: 10px;
        img {
            width: 300px;
            border-radius: 5px;
        }
    }
}

/*------------------------------------*/
/* FOOTER */
/*------------------------------------*/

.copyright {
    margin-bottom: 20px;
    height: 70px;
    background-color: #272822;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-text, .social-media {
        color: #DADADA;
        font-family: $font;
        padding: 50px;
        font-size: 13px;
        a {
            text-decoration: none;
            
            img {
                margin-left: 7px;
            }
        } 
    }
}


